.start-gif {
  background: url("../assets/poke.gif");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
}
.exit-gif {
  background: url("../assets/poke2.gif");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
}

.gif-container {
  padding-top: 40vh;
  height: 100vh;
}

.gif-container button {
  position: fixed;
}
