.default-background {
  background: url("../assets/backgrounds/default-bg.jpg");
  background-size: cover;
}

.water-background {
  background: url("../assets/backgrounds/Water.gif");
  background-size: cover;
}

.fire-background {
  background: url("../assets/backgrounds/Fire.gif");
  background-size: cover;
}

.flying-background {
  background: url("../assets/backgrounds/Flying.gif");
  background-size: cover;
}
.poison-background {
  background: url("../assets/backgrounds/Poison.gif");
  background-size: cover;
}
.electric-background {
  background: url("../assets/backgrounds/Electric.gif");
  background-size: cover;
}
.cosmic-background {
  background: url("../assets/backgrounds/Cosmic.gif");
  background-size: cover;
}
.grass-background {
  background: url("../assets/backgrounds/Grass.gif");
  background-size: cover;
}
.ice-background {
  background: url("../assets/backgrounds/Ice.gif");
  background-size: cover;
}

.type-icons {
  display: flex;
  justify-content: flex-start;
}
